<h1>ToDo</h1>

<% @todos.each do |todo| %>
<div class="card text-white bg-info container">
  <p class=''><%="#{todo.description}"%></p>
  <div class="row-1">
    <%= link_to 'Ver', todo,class:"btn text-white btn-success col-1 "%>
    <%= link_to 'Editar',edit_path(todo),class:"btn  text-white btn-warning col-sm-1 "%>
    <%= link_to 'Eliminar', todo, method: :delete , data:{confirm:'seguro que quieres borrar!!'},class:"btn text-white btn-danger col-sm-1"%>
    <%= link_to 'completado',completed_path(todo) ,class:"btn text-white btn-dark col-sm-3"%>
  </div>
  <br>
</div>
<br>
<%end%>
<br>
