<h1>New</h1>
<br>
<%=form_with(model: @todo, local:true) do |t|%>

<%=t.label :description ,class:'col-sm-1'%>
<%=t.text_field :description,class:'col-sm-1'%>
<%=t.submit 'Crear',class:'btn btn-info col-sm-1'%>
<%end%>

<br>
<%=link_to '<<<Back', todos_path, class:'btn btn-danger col-sm-1'%>
